.gallery{
	margin: 10px 50px;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	/*width: 200px;*/
}

.gallery img:hover{
	filter: grayscale(100%);
	transform: (1.1);
}

.page{
 	left: -50%;
 	transform: translateX(50%);
}